<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk_riffle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-70}</string>
                <key>spriteSize</key>
                <string>{154,246}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_riffle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-68}</string>
                <key>spriteSize</key>
                <string>{154,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{249,1},{154,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_riffle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-65}</string>
                <key>spriteSize</key>
                <string>{154,244}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,157},{154,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_riffle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-68}</string>
                <key>spriteSize</key>
                <string>{154,248}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{247,157},{154,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_riffle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{154,244}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,313},{154,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_riffle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-65}</string>
                <key>spriteSize</key>
                <string>{154,248}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{247,313},{154,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>maingame.png</string>
            <key>size</key>
            <string>{496,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d197d30ebc3e884854bcc138dab2860d:21fb44e7c1de12295611167eaa14c80e:c73d4839f2575e516ec0680e5d072066$</string>
            <key>textureFileName</key>
            <string>maingame.png</string>
        </dict>
    </dict>
</plist>
